In [1]:
import pyspark
import pandas as pd

In [2]:
titanic_df = pd.read_csv('./train.csv')

In [3]:
from pyspark.sql import SparkSession

In [4]:
import findspark
findspark.init()

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host","localhost").appName('pysparktest').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.option('header','true').csv("./train.csv")

In [7]:
df_pyspark = df_pyspark.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [51]:
df_pyspark = spark.read.csv('./train.csv',header=True,inferSchema = True)

In [9]:
df_pyspark.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [10]:
df_pyspark.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [11]:
df_pyspark.select('PassengerId').show()

+-----------+
|PassengerId|
+-----------+
|          1|
|          2|
|          3|
|          4|
|          5|
|          6|
|          7|
|          8|
|          9|
|         10|
|         11|
|         12|
|         13|
|         14|
|         15|
|         16|
|         17|
|         18|
|         19|
|         20|
+-----------+
only showing top 20 rows

In [12]:
df_pyspark.select(['PassengerId','Age']).show()

+-----------+----+
|PassengerId| Age|
+-----------+----+
|          1|22.0|
|          2|38.0|
|          3|26.0|
|          4|35.0|
|          5|35.0|
|          6|null|
|          7|54.0|
|          8| 2.0|
|          9|27.0|
|         10|14.0|
|         11| 4.0|
|         12|58.0|
|         13|20.0|
|         14|39.0|
|         15|14.0|
|         16|55.0|
|         17| 2.0|
|         18|null|
|         19|31.0|
|         20|null|
+-----------+----+
only showing top 20 rows

In [13]:
df_pyspark.head(3)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S')]

In [14]:
df_pyspark.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [15]:
##adding column

df_pyspark = df_pyspark.withColumn('Child',df_pyspark['Age']<13)

In [16]:
df_pyspark.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Child|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|false|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|false|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|false|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|false|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|false|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q| null|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|false|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S| true|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|false|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|false|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S| true|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|false|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|false|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|false|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|false|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|false|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q| true|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S| null|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|false|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C| null|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----+
only showing top 20 rows

In [17]:
## drop columns

df_pyspark = df_pyspark.drop('Child')

In [18]:
df_pyspark.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [19]:
## renaming columns

df_pyspark.withColumnRenamed('Name','name').show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [20]:
spark.read.csv('./train.csv',header=True,inferSchema = True)

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

In [21]:
#drop columns

df_pyspark.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [22]:
#threshold

df_pyspark.na.drop(how ="any").show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|     248698|    13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|     113509| 61.9792|        B30|       C|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|46.0|    1|    0|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|
|        103|       0|     1|White, Mr. Richar...|  male|21.0|    0|    1|      35281| 77.2875|        D26|       S|
|        111|       0|     1|Porter, Mr. Walte...|  male|47.0|    0|    0|     110465|    52.0|       C110|       S|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|   PC 17558|247.5208|    B58 B60|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
only showing top 20 rows

In [23]:
#thresh number will drop the rows with less than the thresh number of non-null numbers

df_pyspark.dropna(how = 'any',thresh = 10).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [24]:
df_pyspark.na.fill('Missing Values',['Cabin']).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|         Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|Missing Values|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|           C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|Missing Values|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|          C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|Missing Values|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|Missing Values|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|           E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|Missing Values|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|Missing Values|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|Missing Values|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|            G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|          C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|Missing Values|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|Missing Values|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|Missing Values|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|Missing Values|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|Missing Values|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|Missing Values|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|Missing Values|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|Missing Values|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------------+--------+
only showing top 20 rows

In [25]:
#Filter operations

In [26]:
df_pyspark.filter("Age=3").select(["Name","Age"]).show()

+--------------------+---+
|                Name|Age|
+--------------------+---+
|Laroche, Miss. Si...|3.0|
|Navratil, Master....|3.0|
|Asplund, Master. ...|3.0|
|"Coutts, Master. ...|3.0|
|Palsson, Miss. St...|3.0|
|Richards, Master....|3.0|
+--------------------+---+

In [27]:
df_pyspark.filter(df_pyspark['Age']==3).select(["Name","Age"]).show()

+--------------------+---+
|                Name|Age|
+--------------------+---+
|Laroche, Miss. Si...|3.0|
|Navratil, Master....|3.0|
|Asplund, Master. ...|3.0|
|"Coutts, Master. ...|3.0|
|Palsson, Miss. St...|3.0|
|Richards, Master....|3.0|
+--------------------+---+

In [28]:
df_pyspark.filter(~(df_pyspark['Age']==3)).select(["Name","Age"]).show()

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
|Futrelle, Mrs. Ja...|35.0|
|Allen, Mr. Willia...|35.0|
|McCarthy, Mr. Tim...|54.0|
|Palsson, Master. ...| 2.0|
|Johnson, Mrs. Osc...|27.0|
|Nasser, Mrs. Nich...|14.0|
|Sandstrom, Miss. ...| 4.0|
|Bonnell, Miss. El...|58.0|
|Saundercock, Mr. ...|20.0|
|Andersson, Mr. An...|39.0|
|Vestrom, Miss. Hu...|14.0|
|Hewlett, Mrs. (Ma...|55.0|
|Rice, Master. Eugene| 2.0|
|Vander Planke, Mr...|31.0|
|Fynney, Mr. Joseph J|35.0|
|Beesley, Mr. Lawr...|34.0|
|"McGowan, Miss. A...|15.0|
+--------------------+----+
only showing top 20 rows

In [29]:
df_pyspark.groupBy(['Age','Pclass']).sum().show()

+----+------+----------------+-------------+-----------+--------+----------+----------+------------------+
| Age|Pclass|sum(PassengerId)|sum(Survived)|sum(Pclass)|sum(Age)|sum(SibSp)|sum(Parch)|         sum(Fare)|
+----+------+----------------+-------------+-----------+--------+----------+----------+------------------+
|32.0|     2|            1472|            2|          8|   128.0|         3|         0|             123.0|
|40.0|     3|            1815|            0|         15|   200.0|         3|         5|           67.9958|
|41.0|     2|             273|            1|          2|    41.0|         0|         1|              19.5|
|42.0|     2|            1956|            3|         10|   210.0|         2|         0|              92.0|
|26.0|     2|             933|            0|          4|    52.0|         1|         1|              36.5|
|47.0|     2|             587|            0|          2|    47.0|         0|         0|              15.0|
|0.83|     2|             911|            2|          4|    1.66|         1|         3|             47.75|
|51.0|     1|            1780|            2|          3|   153.0|         1|         1|          165.8875|
|71.0|     1|             591|            0|          2|   142.0|         0|         0|           84.1584|
|54.0|     2|            1926|            1|          8|   216.0|         2|         3|              89.0|
|40.0|     1|            1435|            3|          5|   200.0|         1|         1|346.68330000000003|
| 3.0|     3|             986|            2|          9|     9.0|         8|         4|           68.3625|
|30.0|     3|            4620|            2|         33|   330.0|         2|         1|          116.5875|
| 2.0|     1|             298|            0|          1|     2.0|         1|         2|            151.55|
|61.0|     3|             327|            0|          3|    61.0|         0|         0|            6.2375|
|19.0|     1|            2094|            3|          5|    95.0|         5|         4|463.46250000000003|
|45.0|     2|            1148|            2|          4|    90.0|         1|         1|             39.75|
|52.0|     2|            1411|            0|          4|   104.0|         0|         0|              26.5|
|33.0|     1|            2856|            3|          4|   132.0|         2|         0|             234.6|
|17.0|     1|            1641|            3|          3|    51.0|         2|         2|          276.7833|
+----+------+----------------+-------------+-----------+--------+----------+----------+------------------+
only showing top 20 rows

In [30]:
df_pyspark.groupBy('Pclass').max().show()

+------+----------------+-------------+-----------+--------+----------+----------+---------+
|Pclass|max(PassengerId)|max(Survived)|max(Pclass)|max(Age)|max(SibSp)|max(Parch)|max(Fare)|
+------+----------------+-------------+-----------+--------+----------+----------+---------+
|     1|             890|            1|          1|    80.0|         3|         4| 512.3292|
|     3|             891|            1|          3|    74.0|         8|         6|    69.55|
|     2|             887|            1|          2|    70.0|         3|         3|     73.5|
+------+----------------+-------------+-----------+--------+----------+----------+---------+

In [31]:
df_pyspark.groupBy('Pclass').mean().show()

+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+
|Pclass|  avg(PassengerId)|      avg(Survived)|avg(Pclass)|          avg(Age)|         avg(SibSp)|         avg(Parch)|         avg(Fare)|
+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+
|     1|461.59722222222223| 0.6296296296296297|        1.0|38.233440860215055| 0.4166666666666667|0.35648148148148145| 84.15468749999992|
|     3| 439.1547861507128|0.24236252545824846|        3.0| 25.14061971830986|  0.615071283095723|0.39307535641547864|13.675550101832997|
|     2|445.95652173913044|0.47282608695652173|        2.0| 29.87763005780347|0.40217391304347827| 0.3804347826086957| 20.66218315217391|
+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+

In [32]:
df_pyspark.groupBy('Pclass').min().show()

+------+----------------+-------------+-----------+--------+----------+----------+---------+
|Pclass|min(PassengerId)|min(Survived)|min(Pclass)|min(Age)|min(SibSp)|min(Parch)|min(Fare)|
+------+----------------+-------------+-----------+--------+----------+----------+---------+
|     1|               2|            0|          1|    0.92|         0|         0|      0.0|
|     3|               1|            0|          3|    0.42|         0|         0|      0.0|
|     2|              10|            0|          2|    0.67|         0|         0|      0.0|
+------+----------------+-------------+-----------+--------+----------+----------+---------+

In [33]:
df_pyspark.groupBy('Pclass').count().show()

+------+-----+
|Pclass|count|
+------+-----+
|     1|  216|
|     3|  491|
|     2|  184|
+------+-----+

In [34]:
df_pyspark.agg({'Pclass':'sum'}).show()

+-----------+
|sum(Pclass)|
+-----------+
|       2057|
+-----------+

In [35]:
df_pyspark.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [36]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer

In [52]:
from pyspark.ml.classification import LogisticRegression
##train test split
train_data, test_data = df_pyspark.randomSplit([0.75,0.25])

In [53]:
train_data = train_data.na.fill('Missing Values',['Cabin','Embarked'])
test_data = test_data.na.fill('Missing Values',['Cabin','Embarked'])

In [54]:
gender_indexer = StringIndexer(inputCol="Sex", outputCol="genderIndexer")
embarked_indexer = StringIndexer(inputCol="Embarked", outputCol="embarkedIndexer")

train_data = gender_indexer.fit(train_data).transform(train_data)
test_data = embarked_indexer.fit(test_data).transform(test_data)

In [56]:
train_data = embarked_indexer.fit(train_data).transform(train_data)
test_data = gender_indexer.fit(test_data).transform(test_data)

In [62]:
#filling na with imputer
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols = ["Age","Fare"],
                 outputCols = ["{}_imputed".format(c) for c in ["Age","Fare"]
                              ]).setStrategy('median')

In [63]:
train_data = imputer.fit(train_data).transform(train_data)
test_data = imputer.fit(test_data).transform(test_data)

In [66]:
train_data = train_data.drop('Independent Feature')
test_data = test_data.drop('Independent Feature')

In [68]:
train_data.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked',
 'genderIndexer',
 'embarkedIndexer',
 'Age_imputed',
 'Fare_imputed']

In [69]:
featureassembler = VectorAssembler(inputCols = ["Age_imputed","Fare_imputed","Pclass","embarkedIndexer","Parch","SibSp","genderIndexer"], outputCol = 'Independent Features')

In [70]:
train_data = featureassembler.transform(train_data)

In [76]:
train_data = train_data.select(['Independent Features','Survived'])

In [71]:
test_data = featureassembler.transform(test_data)

In [78]:
test_data = test_data.select(['Independent Features','Survived'])

In [88]:
lr = LogisticRegression(featuresCol = 'Independent Features' , labelCol = 'Survived',maxIter=10)
lr = lr.fit(train_data)

In [89]:
pred_results = lr.evaluate(test_data)

In [90]:
pred_results.predictions.show()

+--------------------+--------+--------------------+--------------------+----------+
|Independent Features|Survived|       rawPrediction|         probability|prediction|
+--------------------+--------+--------------------+--------------------+----------+
|[27.0,11.1333,3.0...|       1|[-0.3668042693597...|[0.40931344786226...|       1.0|
|(7,[0,1,2],[28.0,...|       1|[0.92536492876745...|[0.71613398461274...|       0.0|
|[19.0,263.0,1.0,0...|       0|[0.12951642476735...|[0.53233392003323...|       0.0|
|[42.0,52.0,1.0,0....|       0|[0.65397852646490...|[0.65790645363909...|       0.0|
|[28.0,7.2292,3.0,...|       1|[1.95264185019504...|[0.87573442307001...|       0.0|
|[3.0,41.5792,2.0,...|       1|[-2.0469887772471...|[0.11435700237594...|       1.0|
|(7,[0,1,2],[28.0,...|       0|[2.00321996238140...|[0.88113473905752...|       0.0|
|[28.0,7.75,3.0,2....|       1|[-0.6531164518218...|[0.34228759606962...|       1.0|
|[18.0,17.8,3.0,0....|       0|[-0.5298743263790...|[0.37054619988640...|       1.0|
|[7.0,39.6875,3.0,...|       0|[2.90530657254254...|[0.94810813718863...|       0.0|
|[49.0,76.7292,1.0...|       1|[-1.7821913722658...|[0.14403275487293...|       1.0|
|[21.0,10.5,2.0,0....|       1|[-1.8714620945238...|[0.13337263664204...|       1.0|
|[11.0,46.9,3.0,0....|       0|[3.55599109846830...|[0.97223958291773...|       0.0|
|[17.0,7.925,3.0,0...|       1|[0.94576670595861...|[0.72026303201949...|       0.0|
|[26.0,8.6625,3.0,...|       0|[2.76105081479763...|[0.94053443269262...|       0.0|
|(7,[0,1,2],[28.0,...|       0|[2.00321996238140...|[0.88113473905752...|       0.0|
|(7,[0,1,2],[24.0,...|       0|[1.85736936538496...|[0.86499003141241...|       0.0|
|[26.0,20.575,3.0,...|       0|[2.53022318791758...|[0.92623360414370...|       0.0|
|(7,[0,1,2],[28.0,...|       0|[2.00321996238140...|[0.88113473905752...|       0.0|
|(7,[0,1,2],[33.0,...|       0|[2.18339552850482...|[0.89874848263248...|       0.0|
+--------------------+--------+--------------------+--------------------+----------+
only showing top 20 rows

In [174]:
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.mllib.evaluation import BinaryClassificationMetrics
paramGrid = ParamGridBuilder() \
    .addGrid(lr.regParam, [0.1, 0.01]) \
    .build()

In [116]:
train_data = train_data.withColumnRenamed('Survived','label')

ERROR! Session/line number was not unique in database. History logging moved to new session 216

In [118]:
lr = LogisticRegression(featuresCol = 'Independent Features' ,labelCol ='label',maxIter=10)

In [119]:
crossval = CrossValidator(estimator=lr,
                          estimatorParamMaps=paramGrid,
                          evaluator=BinaryClassificationEvaluator(),
                          numFolds=5)

In [120]:
cvModel = crossval.fit(train_data)

In [127]:
test_data = test_data.withColumnRenamed('Survived','label')

In [189]:
prediction = cvModel.transform(test_data)

In [190]:
prediction.show()

+--------------------+-----+--------------------+--------------------+----------+
|Independent Features|label|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[27.0,11.1333,3.0...|    1|[-0.3668042693597...|[0.40931344786226...|       1.0|
|(7,[0,1,2],[28.0,...|    1|[0.92536492876745...|[0.71613398461274...|       0.0|
|[19.0,263.0,1.0,0...|    0|[0.12951642476735...|[0.53233392003323...|       0.0|
|[42.0,52.0,1.0,0....|    0|[0.65397852646490...|[0.65790645363909...|       0.0|
|[28.0,7.2292,3.0,...|    1|[1.95264185019504...|[0.87573442307001...|       0.0|
|[3.0,41.5792,2.0,...|    1|[-2.0469887772471...|[0.11435700237594...|       1.0|
|(7,[0,1,2],[28.0,...|    0|[2.00321996238140...|[0.88113473905752...|       0.0|
|[28.0,7.75,3.0,2....|    1|[-0.6531164518218...|[0.34228759606962...|       1.0|
|[18.0,17.8,3.0,0....|    0|[-0.5298743263790...|[0.37054619988640...|       1.0|
|[7.0,39.6875,3.0,...|    0|[2.90530657254254...|[0.94810813718863...|       0.0|
|[49.0,76.7292,1.0...|    1|[-1.7821913722658...|[0.14403275487293...|       1.0|
|[21.0,10.5,2.0,0....|    1|[-1.8714620945238...|[0.13337263664204...|       1.0|
|[11.0,46.9,3.0,0....|    0|[3.55599109846830...|[0.97223958291773...|       0.0|
|[17.0,7.925,3.0,0...|    1|[0.94576670595861...|[0.72026303201949...|       0.0|
|[26.0,8.6625,3.0,...|    0|[2.76105081479763...|[0.94053443269262...|       0.0|
|(7,[0,1,2],[28.0,...|    0|[2.00321996238140...|[0.88113473905752...|       0.0|
|(7,[0,1,2],[24.0,...|    0|[1.85736936538496...|[0.86499003141241...|       0.0|
|[26.0,20.575,3.0,...|    0|[2.53022318791758...|[0.92623360414370...|       0.0|
|(7,[0,1,2],[28.0,...|    0|[2.00321996238140...|[0.88113473905752...|       0.0|
|(7,[0,1,2],[33.0,...|    0|[2.18339552850482...|[0.89874848263248...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [158]:
evaluator = BinaryClassificationEvaluator()

In [159]:
 print("Test Area Under ROC: " + str(evaluator.evaluate(prediction , {evaluator.metricName: "areaUnderROC"})))

Exception ignored in: <function JavaModelWrapper.__del__ at 0x0000014FA8253400>
Traceback (most recent call last):
  File "C:\Users\keldr\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pyspark\mllib\common.py", line 152, in __del__
    assert self._sc._gateway is not None
AttributeError: 'BinaryClassificationMetrics' object has no attribute '_sc'
Exception ignored in: <function JavaModelWrapper.__del__ at 0x0000014FA8253400>
Traceback (most recent call last):
  File "C:\Users\keldr\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pyspark\mllib\common.py", line 152, in __del__
    assert self._sc._gateway is not None
AttributeError: 'BinaryClassificationMetrics' object has no attribute '_sc'
Exception ignored in: <function JavaModelWrapper.__del__ at 0x0000014FA8253400>
Traceback (most recent call last):
  File "C:\Users\keldr\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pyspark\mllib\common.py", line 152, in __del__
    assert self._sc._gateway is not None
AttributeError: 'BinaryClassificationMetrics' object has no attribute '_sc'

Test Area Under ROC: 0.861494252873564

In [215]:
predictionAndLabels = prediction.rdd.map(lambda lp: (float(lp.prediction),lp.label))

In [194]:
metrics = BinaryClassificationMetrics(predictionAndLabels)

In [234]:
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score

In [211]:
accuracy_score(y_true = prediction.select('label').rdd.flatMap(lambda x: x).collect(),y_pred = prediction.select('prediction').rdd.flatMap(lambda x: x).collect())

0.7816593886462883

In [235]:
f1_score(y_true = prediction.select('label').rdd.flatMap(lambda x: x).collect(),y_pred = prediction.select('prediction').rdd.flatMap(lambda x: x).collect())

0.6987951807228916

In [236]:
recall_score(y_true = prediction.select('label').rdd.flatMap(lambda x: x).collect(),y_pred = prediction.select('prediction').rdd.flatMap(lambda x: x).collect())

0.6904761904761905

In [238]:
precision_score(y_true = prediction.select('label').rdd.flatMap(lambda x: x).collect(),y_pred = prediction.select('prediction').rdd.flatMap(lambda x: x).collect())

0.7073170731707317